{% extends 'base-back.html.twig' %}

{% block title %}Home Admin{% endblock %}

{% block body %}
    <div class="content-body">
    <!-- row -->
    <div class="container-fluid">

        <div class="row">

        </div>
    </div>
</div>
{% endblock %}