{% extends 'front.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block body %}
    <div style="padding-left: 20%;">
        <div style="padding-top: 10%;">
    {{ parent() }}

    <h1>Thanks for your attempted order!</h1>
    <p>
        votre paiement a échoué :(
        <a href="mailto:orders@example.com">Avengers@gmail.com</a>.
    </p>

<div>

</div>
{% endblock %}
