{% extends 'front.html.twig' %}

{% block title %}Make Payment{% endblock %}

{% block body %}
    <div style="padding-left: 20%;">
        <div style="padding-top: 10%;">

            {{ parent() }}

            <img src="{{ asset('assets/images/java.jpg') }}" alt="Image Description">
            <p style="margin-top: 10px;">Formation java</p>
            <form action="/checkout" method="POST" style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary btn-lg">Payer</button>
            </form>

        </div>
    </div>
{% endblock %}
